@import "tailwindcss";

/* Custom Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  /* matching the app bg */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}